@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
  font-family: 'Roboto', sans-serif;
}

h1 {
  text-align: center;
}

.game {
  background-color: rgba(150, 200, 200, 0.5);
  padding: 20px 10px;
  margin: 100px auto;
  border-radius: 20px;
  width: 650px;
  text-align: center;
}

.player1, .player2 {
  box-sizing: border-box;
  display: inline-block;
  float: left;
  padding: 14px;
  margin: 0px 20px;
  text-align: center;
}

button {
  margin: 0 auto;
  font-size: 16px;
  border-radius: 7.5px;
  text-align: center;
}

.huge {
  font-size: 24px;
  color: red;
}
